
.navbar-expand{
  background-color: #141114;
  color: #ffffff;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.logo {
  height: 45px;
}
body {
  background-color: #363636;
  
}
.card {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  border-radius: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: #141414;
  color: #f5f5f7;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}
.card-header{
  vertical-align: middle;

  margin-top: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding: 0.45rem 1.25rem;
  position: relative;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.form-card .card-body {
  background-color: #444444;
  color: #cccccc;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card-footer {
  position: fixed;
  bottom: 50px;
  right: 15px;
  background-color: transparent;
  z-index: 999;
  border-top: 0 solid rgba(0,0,0,.125);
}
.card-footer .btn-sm {
  background-color: rgb(5, 138, 15);
  color: #f5f5f7;
  margin-top: 3px;
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 50%), 0 2px 2px rgb(0 0 0 / 30%), 0 0 4px 1px rgb(0 0 0 / 20%);
  padding: 0.25rem 1rem;
  font-size: 16px;
  padding: 8px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /* border: 1px solid white; */
}
.card-tools .cancel, .cancel-btn , .table-sm .cancel{
  background-color: rgb(150, 2, 26)!important;
  color: #f5f5f7 !important;
  margin-left: 8px;
}
.form-control:focus {
  border-color: #141114;
  outline: 1px solid #141114;
  outline-offset: -5px;
  color: #495057;
  box-shadow: inset 0 0 0 transparent;
}
.table-card .card-body{
  background-color: #141414!important;
  color: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.dataTables_length,
.dataTables_length select,
.dataTables_filter,
.dataTables_info{
  color:#ffffff!important;
}

.dataTables_length option{
  color: #141114;
}

.paginate_button{
  background-color: #cccccc!important;
}
#route_previous{
  margin-right: 10px;
}
/* .dataTables_empty{
  color:#141114;
} */
.back-button {
  border: none;
  background-color: #666666;
  border: 1px solid #f5f5f7;
  color: #f5f5f7;
  border-radius: 20px;
  margin-right: 10px;
  float:left;
}
.card-title {
  float: left;
  font-weight: 400;
  margin: 0;
  margin-top: 8px;
  font-size: 1.3rem;
}
.back-button:hover {
  background-color: #363636;
  color: #f5f5f7;
}
.btn-tooltip{
  background-color: transparent;
  border: 0px solid transparent;
}
.information {
  color: #f5f5f7;
}
.tooltip-inner {
  background-color: #FFF0B4;
  border: 1px solid #141414;
  color: #141114;
  max-width: 600px;
  letter-spacing: 1px; 
  text-align: left;
  font-weight: bold;
}
.tooltip.bs-tooltip-bottom .arrow:before {
  display: none !important;
}
.table-card tbody tr{
  /* color:#141114; */
  background-color: #141114!important;
}
.table-sm thead tr {
  background-color: #444444;
  color: #f4f4f7;
  font-weight: normal;
}
.dataTables_filter input{
  /* color:white; */
  background-color: #ffffff!important;
}
.dataTables_filter input:focus{
  
  border-color: #141114;
  outline: 1px solid #141114;
  outline-offset: -5px;
}
.table-sm tbody tr:hover {
  background-color: #ECECEC!important;
  color: #141414!important;
}
.card-header>.card-tools {
  float: right;
  margin-right: -0.625rem;
}
.add-btn {
  border: none;
  background-color: #058A0F!important;
  color: #ffffff;
  /* box-shadow: 0px 8px 15px #666666; */
  margin-top: 7px;
  font-size: 16px;
  margin-right: 10px;
}
.add-btn:hover {
  background-color: #2CB52D!important;
  color: #ffffff!important;
}
.display_btn{
  display: flex;
}
.add-btn.focus, .add-btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #2CB52D;
}
.sweet1Button{
  /* width:25em!important;
  height: 300px!important; */
  background-color: #2CB52D!important;
  color: #ffffff!important;
}
.sweet2Buttton{
  background-color: rgb(150, 2, 26)!important;
  color: #f5f5f7 !important;
}
.sweet1Button,
.sweet2Buttton{
  padding: 20px!important; 
   font-size: 2em!important; 
   font-weight: 100!important; 
   min-width: unset!important;
  width: 125px;
}
body.swal2-height-auto {
  height: 100vh!important;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow:unset;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #141114;
}
.edit {
  background-color: #002F63!important;
  color: #ffffff!important;
}